{% extends 'index.html' %}
{% load static %}

	{% block body %}
	<section id="portfolio-details" class="portfolio-details">
		<div class="container">
  
		  <div class="portfolio-details-container">
  
			<div class="owl-carousel portfolio-details-carousel">
			  <img src="{% static 'images/hero-img.png' %}" class="img-fluid" alt="">
			</div>
  
		  </div>
  
		  <div class="portfolio-description text-center">
			<h2>Oopss...</h2>
			<p>
			   Halaman tidak ditemukan
			</p>
		  </div>
  
		</div>
	  </section><!-- End Portfolio Details Section -->
	{% endblock %}
